name: Build Datapacks
on: 
  pull_request:
    branches:
      - main
    types:
      [closed]
jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - run: echo "This merge was successful!"